svo_code.py
apikey
sw1.txt
sw2.txt
stopwords.txt
outputfile.txt
apikey.txt
subject_obj_verb.py
cr-sw.py
remove_foreign_word.py
common_words.txt
coreference_resolution.pyc
replace_common_words.py
replace_common_words.pyc